@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
html{
    scroll-behavior: smooth;
}
.modal-header {
    padding: 2px 16px;
    background-color: #DE1736;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 50%;
    /* left:25%; */
    width:100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
  }
  
  /* Modal Content/Box */
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3475ca;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}
.banner .content {
    position:relative;
    max-width: 750px;
    text-align: center;
}

.banner .content h2 {
    color: #fff;
    font-size: 60px;
}
.banner .content p {
    color:#fff;
    font-size: 18px;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.banner header .logo{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.banner header .toggle {
    position: relative;
    width: 36px;
    height: 28px;
    background: url('./assets/toggle.png');
    background-size: cover;
    cursor: pointer;
}

.btn{
    text-decoration: none;
    background: #162c3b;
    color:#fff;
    text-align: center;
    padding: 15px 30px;
    border-radius: 25px;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
}
.about .contentBx {
    background: #162c3b;
    padding:100px;
    width: 50%;
}
.heading {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.text {
    color:#fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.about .imgBx {
    background: url('./assets/window.jpg');
    width:50%;
    background-size: cover;
    background-position: center;
}


.services{
    background: #12222d;
    padding: 100px;
    text-align: center;
}

.services .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.services .container .serviceBx {
    position: relative;
    background: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
    align-items: center;
}

.services .container .serviceBx img {
    max-width: 100px;
    background-position: center;
}

.services .container .serviceBx h2 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}


.technology {
    background: #3f8ffc;
    width: 100%;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technology .contentBx {
    max-width: 800px;
}

.technology .imgBx {
    max-width: 250px;
}

.technology .imgBx img {
    max-width: 100%;   
}

.containerss {
    width:250px;
    position: absolute;
    transform: translate(-50%,-50%);
    right:5%;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
}
.wrapper {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.contact {
    background: #12222d;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}
.map{
    height: 600px;
    width: 800px;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.map h3{
    font-size: 30px;
    color: #3475ca;
}
.map iframe{
    width: 100%;
    padding: 20px 100px 0px 100px;
}
.contactinfo{
    width:600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.address,.timing,.phonenumber{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:40px 0px 40px 0px;
    border-bottom: 1px solid white;
}

.address h1,.timing h1,.phonenumber h1{
    color:#3475ca;
    letter-spacing: 1px;
}

.footer {
    background: #DE1736;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .banner {
        padding:50px;
    }
    .banner header {
        padding: 20px 50px;
    }
    .banner .content h2 {
        font-size: 36px;
    }
    .banner .content p {
        font-size: 16px;
    }
    .btn{
        font-size: 13px;
    }
    .about {
        flex-direction: column;
    }
    .about .contentBx,
    .about .imgBx{
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }
    .services {
        padding: 50px;
    }
    .services .container {
        justify-content: center;
        margin-top: 20px;
    }
    .services .container .serviceBx{
        margin: 20px;
        width: 300px;
        height: 350px;
    }
    .technology {
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;
    }
    .technology .imgBx{
        margin-top: 40px;
        max-width: 250px;
    }
    /* .containerss{
        display: flex;
        justify-content: center;
    } */

    .footer{
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }
}